body {
    background-color: black;
    color: white;
}

img {
    vertical-align: text-top;
    max-width: 90%;
}

div.header {
    /* position: sticky; */
    margin: 0px;
    height: auto;
    top: 0px;
    left: 0px;
    padding: 12px;
    font-size: 32px;
    background-color: #1f1f1f;
}

div.mainbody {
    position: relative;
    top: auto;
}

p.prehint {
    display: inline;
}
p.hint {
    background-color: white;
    display: inline;
}
p.hint:hover {
    background-color: black;
}

input {
  font-size: 18px;
  padding: 6px;
  border: 1px solid;
  border-radius: 6px;
}

a {
    color: white;
}

